{% extends 'base.html.twig' %}

{% block title %}Hello CallbackController!
{% endblock %}

{% block body %}

	<h2 class="text-center my-5">Remplissez le formulaire pour que l'on vous recontacte !</h2>
	<div class="col-6 mx-auto ">
		{% for message in app.flashes('bravo') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		{% block javascripts %}

			<script>
				window.onload = () => {
let moment = document.querySelector("#callback_moment");
moment.addEventListener("change", function () {
let form = this.closest("form");
console.log(form);
let data = this.name + "=" + this.value;
console.log(data)


fetch(form.action, {
method: form.getAttribute("method"),
body: data,
headers: {
"Content-Type": "application/x-www-form-urlencoded; charset:UTF-8"
}
}).then(response => response.text()).then(html => {
let content = document.createElement("html");
content.innerHTML = html;
let nouveauSelect = content.querySelector("#callback_creneau");
console.log(nouveauSelect)
document.querySelector("#callback_creneau").replaceWith(nouveauSelect);
}).catch(error => {
console.log(error);
})
});
}
			</script>
		{% endblock %}

		{{form((form_callback)) }}


		</div>

	{% endblock %}
