{% extends 'base.html.twig' %}

{% block title %}Hello CallbackController!
{% endblock %}

{% block body %}

	<h2 class="text-center my-5">Remplissez le formulaire pour que l'on vous recontacte !</h2>
	<div class="col-6 mx-auto ">

		{{form((form_callback)) }}


		</div>

	{% endblock %}
