{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}


	<div class="text-center ">
		<h1 class="mb-5">Bonjour
			{{app.user.firstname}}!
		</h1>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{path('admin')}}" class="btn btn-primary">Accès à l'administration</a>
		{% endif %}

	</div>
{% endblock %}
