{% extends 'base.html.twig' %}

{% block title %}Callback - Accueil
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1 class="mt-5 ">Bienvenue sur l'application de rappel !</h1>
		<p class=" mt-5">Cliquez sur le bouton ci dessous pour remplir le formulaire !</p>
		<a href="{{path('callback')}}" class="btn btn-primary ">Formulaire de rappel</a>
	</div>

{% endblock %}
